
<div class="modal-header">
  <h3 class="modal-title">Archive jobs</h3>
</div>


<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <label ng-for="archive_duration">Archive jobs older than (days)</label>
                    <input type="number" class="form-control" ng-model="archive_duration"></input>
                    <button ng-click="archive_tasks()" class="btn btn-primary task-info-button">Archive</button>
                    <button ng-click="cancel()" class="btn btn-primary task-info-button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
