<ol class="breadcrumb">
  <li><a href="/app/#/" title="home">Go-Docker</a></li>
  <li class="active">Jobs</li>
</ol>

<div class="row">
  <button ng-click="refresh()" class="btn btn-large btn-primary">Refresh</button><button ng-click="change_autorefresh()" class="btn btn-large btn-primary pull-right">Auto-refresh: {{autorefresh}}</button>
</div>

<!--
<h1>Last <small><input ng-model="limit" style="width:160px"/></small> running jobs  <span ng-click="refresh()" class="glyphicon glyphicon-refresh pointer_refresh"> </span></h1>
-->
<div class="panel panel-default" style="overflow-x: auto">
  <div class="panel-heading">
    <b>Running jobs</b>
    <div ng-if="user.admin" class="pull-right">

      <form class="form-horizontal">
        <div>
          <label class="checkbox-inline">
            <input ng-model="$parent.get_all_tasks" type="checkbox" ng-change="refresh()"> View all users
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="table-responsive">
        <!--<table id="running_job_list" datatable="ng" dt-instance="dtInstanceRunning" dt-options="dtOptions" class="table table-bordered table-striped row-border hover">-->
        <table id="running_job_list" class="table table-bordered table-striped row-border hover">
          <thead>
            <tr>
              <td colspan="1">
                <select style="width: auto" class="form-control" ng-model="pageActiveSize" ng-change="setActivePageSize()" >
                  <option ng-repeat="item in page_sizes" ng-selected="pageSize == item" value="{{item}}">{{item}}</option>
                </select>
              </td>
              <td colspan="3">
                <form class="form-inline">
                  <div class="form-group">
                    <input class="form-control" ng-model="regexActive" placeholder="Filter with..."/>
                    <button class="btn btn-small" ng-click="search_active_with_regex()">Search</button>
                  </div>
                </form>
              </td>
              <td colspan="6">
                <form name="dropdownProject" class="form-inline">
                  <label class="project-filter" for="user_project"> Project filter (defaults to my tasks): </label>
                  <select name="user_project" id="user_project" ng-model="project" ng-change="refresh()" class="form-control">
                    <option ng-repeat="option in projects" value="{{option.id}}">{{option.id}}</option>
                  </select>
                </form>
              </td>
            </tr>
            <tr>
              <th><a class="pointer" ng-click="sort_active_by('id')">Id <div class="glyphicon glyphicon-sort"></div></a></th>
              <th><a class="pointer" ng-click="sort_active_by('name')">Name <div class="glyphicon glyphicon-sort"></div></a></th>
              <th><a class="pointer" ng-click="sort_active_by('status')">Status <div class="glyphicon glyphicon-sort"></div></a></th>
              <th><a class="pointer" ng-click="sort_active_by('container')">Container <div class="glyphicon glyphicon-sort"></div></a></th>
              <th>SSH/Ports</th>
              <th>Tags</th>
              <th><a class="pointer" ng-click="sort_active_by('user_id')">User id <div class="glyphicon glyphicon-sort"></div></a></th>
              <th><a class="pointer" ng-click="sort_active_by('project')">Project <div class="glyphicon glyphicon-sort"></div></a></th>
              <th>Logs</th>
              <th>Usage/Statistics</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in activetasks track by task.id">
              <td class="job_details pointer" ng-click="show_task(task)">{{ ::task.id }} <span ng-if="task.parent_task_id">({{ ::task.parent_task_id}})</span></td>
              <td>{{::task.meta.name}}</td>
              <td class="no-wrap">
                <span class="label label-success" >{{ task.status.primary }}</span>
                <span ng-if="task.requirements.array.tasks.length>0"> {{task.requirements.array.nb_tasks_over}}/ {{task.requirements.array.nb_tasks}}</span>
                <span class="label label-warning" ng-if="task.status.secondary != 'rejected by scheduler'">{{ task.status.secondary }}</span>
                <span ng-if="task.status.primary == 'running' && task.container.status !== undefined" class="label label-info" >{{ task.container.status }}</span>
                <span ng-if="features[task.requirements.executor]['pause']==true && task.status.primary == 'running' && task.status.secondary != 'suspended'" ng-click="suspend(task.id)" class="glyphicon glyphicon-pause pointer"> </span>
                <span ng-if="task.status.primary == 'running'" ng-click="reschedule(task.id)" class="glyphicon glyphicon-hourglass pointer"> </span>
                <span ng-if="features[task.requirements.executor]['pause']==true && task.status.secondary == 'suspended'" ng-click="resume(task.id)" class="glyphicon glyphicon-play pointer"> </span>
                <span nf-if="features[task.requirements.executor]['kill']==true" ng-click="kill_task(task)" class="glyphicon glyphicon-trash pointer"> </span>
                <span ng-click="replay(task.id)" class="glyphicon glyphicon-repeat pointer"> </span>
              </td>
              <td ng-if="task.requirements.executor.indexOf('native') < 0">{{ ::task.container.image }}</td>
              <td ng-if="task.requirements.executor.indexOf('native') >= 0 && task.meta.executor">native:{{ ::task.meta.executor.join(",") }}</td>


              <td><div ng-if="task.command.interactive" class="pointer label label-info" ng-click="show_connect_task(task)">connect</div></td>
              <td><span ng-repeat="tag in ::task['meta']['tags']" class="label label-info">{{tag}}</span></td>
              <td>{{ ::task.user.id }}</td>
              <td>{{ ::task.user.project }}</td>
              <td><a ng-href="#/job/{{task.id}}/live"><span class="label label-info" ng-if="task.status.primary == 'running'">logs</span></a></td>
              <td ng-click="monitor(task.id, task.container.id)"><span class="pointer glyphicon glyphicon-signal"></span></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-3">
            <table class="table table-bordered table-striped ">
              <tbody>
                <tr>
                  <td colspan="2">Total entries</td>
                  <td>{{nb_active_jobs}}</td>
                </tr>
                <tr>
                  <td colspan="2">Number of pages</td>
                  <td>{{nb_active_pages}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12 col-md-6 pull-right">
            <ul class="pagination">
              <li ng-class="{disabled: currentActivePage == 0}">
                <a href="javascript:;" ng-click="setActiveCurrentPage(0)">« First</a>
              </li>
              <li ng-class="{disabled: currentActivePage == 0}">
                <a href="javascript:;" ng-click="prevActivePage()">« Prev</a>
              </li>
              <li ng-if="currentActivePage - 1 > 0"><a href="javascript:;" >...</a></li>
              <li ng-if="currentActivePage - 1 >= 0" ng-click="setActiveCurrentPage(currentActivePage - 1)">
                <a href="javascript:;">{{currentActivePage}}</a>
              </li>
              <li class="active">
                <a href="javascript:;">{{currentActivePage + 1}}</a>
              </li>
              <li ng-if="currentActivePage + 1 < nb_active_pages" ng-click="setActiveCurrentPage(currentActivePage + 1)">
                <a href="javascript:;">{{currentActivePage + 2}}</a>
              </li>
              <li ng-if="currentActivePage + 1 < nb_active_pages"><a href="javascript:;" >...</a></li>
              <li ng-class="{disabled: currentActivePage == nb_active_pages - 1}">
                <a href="javascript:;" ng-click="nextActivePage()">Next »</a>
              </li>
              <li ng-class="{disabled: currentActivePage == nb_active_pages - 1}">
                <a href="javascript:;" ng-click="setActiveCurrentPage(nb_active_pages -1)">Last »</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" style="overflow-x: auto">
  <div class="panel-heading">
    <b>Over jobs</b>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="table-responsive">
        <!--<table id="over_job_list" datatable="ng" dt-instance="dtInstanceOver" dt-options="dtOptions" class="table table-bordered table-striped row-border hover">-->
        <table id="over_job_list" class="table table-bordered table-striped row-border hover">
          <thead>
            <tr>
              <td colspan="1">
                <select class="form-control" ng-model="pageSize" ng-change="setPageSize()" >
                  <option ng-repeat="item in page_sizes" ng-selected="pageSize == item" value="{{item}}">{{item}}</option>
                </select>
              </td>
              <td colspan="7">
                <form class="form-inline">
                  <div class="form-group">
                    <input class="form-control" ng-model="regex" placeholder="Filter with..."/>
                    <button class="btn btn-small" ng-click="search_with_regex()">Search</button>
                  </div>
                </form>
              </td>
            </tr>
            <tr>
              <th><a class="pointer" ng-click="sort_by('id')">Id <div class="glyphicon glyphicon-sort"></div></a></th>
              <th><a class="pointer" ng-click="sort_by('name')">Name <div class="glyphicon glyphicon-sort"></div></a></th>
              <th>Status</th>
              <th><a class="pointer" ng-click="sort_by('container_image')">Container <div class="glyphicon glyphicon-sort"></div></a></th>
              <th>Logs</th>
              <th><a class="pointer" ng-click="sort_by('user_id')">User id <div class="glyphicon glyphicon-sort"></div></a></th>
              <th>Tags</th>
              <th>Result</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="task in overtasks track by task.id">
              <td class="job_details pointer" ng-click="show_task(task)">{{ ::task.id }} <span ng-if="task.parent_task_id">({{ ::task.parent_task_id}})</span></td>
              <td>{{::task.meta.name}}</td>
              <td>
                <span class="{{get_exitcode_class(task.status)}}">{{ ::task.status.primary }}</span>
                <span class="{{get_exitcode_class(task.status)}}">{{ ::task.status.secondary }}</span>
                <span ng-click="replay(task.id)" class="glyphicon glyphicon-repeat pointer"> </span>
              </td>
              <td ng-if="task.requirements.executor.indexOf('native') < 0">{{ ::task.container.image }} <span ng-if="task.container.image_url"><a target="_blank" ng-href="{{task.container.image_url}}"><i class="glyphicon glyphicon-info-sign"></i></a></span></td>
              <td ng-if="task.requirements.executor.indexOf('native') >= 0">native:{{ ::task.meta.executor.join(",") }}</td>
              <td><div ng-if="task.status.primary=='over'"><a target="_blank" ng-href="/api/1.0/task/{{::task.id}}/files/god.log"><span class="label label-info">out</span></a>  <a target="_blank" ng-href="/api/1.0/task/{{::task.id}}/files/god.err"><span class="label label-info">err</span></a></div></td>
              <td>{{ ::task.user.id }}</td>
              <td>
                <span ng-repeat="tag in ::task['meta']['tags']" class="label label-info">{{tag}}</span>
              </td>
              <td><a target="_blank" class="label label-info" ng-href="#/job/{{task['id']}}/files">Files <span class="glyphicon glyphicon-folder-open"></span></a> <span class="glyphicon glyphicon-link" ng-if="task.status.is_shared"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <table class="table table-bordered table-striped ">
            <tbody>
              <tr>
                <td colspan="2">Total entries</td>
                <td>{{nb_jobs}}</td>
              </tr>
              <tr>
                <td colspan="2">Number of pages</td>
                <td>{{nb_pages}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-6 pull-right">
          <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}">
              <a href="javascript:;" ng-click="setCurrentPage(0)">« First</a>
            </li>
            <li ng-class="{disabled: currentPage == 0}">
              <a href="javascript:;" ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-if="currentPage - 1 > 0"><a href="javascript:;" >...</a></li>
            <li ng-if="currentPage - 1 >= 0" ng-click="setCurrentPage(currentPage - 1)">
              <a href="javascript:;">{{currentPage}}</a>
            </li>
            <li class="active">
              <a href="javascript:;">{{currentPage + 1}}</a>
            </li>
            <li ng-if="currentPage + 1 < nb_pages" ng-click="setCurrentPage(currentPage + 1)">
              <a href="javascript:;">{{currentPage + 2}}</a>
            </li>
            <li ng-if="currentPage + 1 < nb_pages"><a href="javascript:;" >...</a></li>
            <li ng-class="{disabled: currentPage == nb_pages - 1}">
              <a href="javascript:;" ng-click="nextPage()">Next »</a>
            </li>
            <li ng-class="{disabled: currentPage == nb_pages - 1}">
              <a href="javascript:;" ng-click="setCurrentPage(nb_pages -1)">Last »</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
      <div class="alert alert-info alert-dismissable" ng-if="archive_msg"><a class="close" data-dismiss="alert" aria-label="close">&times;</a>{{archive_msg}}</div>
      <button class="btn btn-primary" ng-click="archive_tasks()">Archive old jobs</button>
      <button class="btn btn-primary" ng-click="toggleShowArchived()" ng-if="!showArchived">Show archived jobs</button>
      <button class="btn btn-primary" ng-click="toggleShowArchived()" ng-if="showArchived">Hide archived jobs</button>
  </div>
</div>
<div class="panel panel-default search-job">
  <div class="panel-heading">
    <b>Search job</b>
  </div>
  <div class="panel-body">
    <div class="row">
      <form class="form-inline">
        <div class="col-sm-12">
          <input class="form-control" id="task" ng-model="searchedTask" placeholder="Task id" size="5"/>
          <button type="button" ng-click="searchTask()" class="btn btn-large">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myTaskConnectModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Task info [{{selectedtask['id']}} - {{selectedtask['user']['id']}}]</h3>
  </div>
  <div class="modal-body">
    <div class="row" ng-if="selectedtask.command.interactive">
      <h3>To connect to your job container:</h3>
      <div ng-if="!selectedtask.container.ip_address">Waiting for IP address allocation...</div>
      <div ng-if="!selectedtask['container']['root'] && ssh_port && selectedtask.container.ip_address"><code>ssh {{selectedtask.user.id}}@{{selectedtask.container.ip_address}} -p {{ssh_port}}</code></div>
      <div ng-if="selectedtask['container']['root'] && ssh_port && selectedtask.container.ip_address"><code>ssh root@{{selectedtask.container.ip_address}} -p {{ssh_port}}</code></div>
    </div>
    <div class="row" ng-if="selectedtask['container']['port_mapping']">
      <h3>Other ports mapping</h3>
      <ul>
        <li><strong>Ports:</strong>
          <ul>
            <li ng-repeat="port in selectedtask['container']['port_mapping']">
              Host: {{port.host}} => Container: {{port.container}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</script>


<!--
<script type="text/ng-template" id="myTaskModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Job {{selectedtask['id']}} for {{selectedtask['user']['id']}} </h3>
  </div>


  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="godaction col-sm-2" ng-if="selectedtask['status']['primary'] == 'over'">
          <a ng-click="cancel()" ng-href="#/job/{{selectedtask['id']}}/files"><button class="btn btn-primary task-info-button">Files <span class="glyphicon glyphicon-folder-open"></span></button></a>
        </div>
        <div class="godaction col-sm-2" ng-if="selectedtask['live'] && selectedtask['status']['primary'] == 'running'">
          <a ng-click="cancel()" ng-href="#/job/{{selectedtask['id']}}/live"><button class="btn btn-primary task-info-button">Live log <span class="glyphicon glyphicon-eye-open"></span></button></a>
        </div>
        <div class="pull-right"><a ng-click="cancel()" ng-href="#/marketplace/task/{{selectedtask['id']}}/link"><button class="btn btn-primary">Link to a recipe</button></a></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <caption>Main informations</caption>
            <tr>
              <td colspan="2"><strong>Id</strong> </td>
              <td colspan="10">{{selectedtask['id']}}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Status</strong> </td>
              <td colspan="10">{{selectedtask['status']['primary']}}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Image</strong> </td>
              <td colspan="10">{{selectedtask['container']['image']}}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Description</strong> </td>
              <td colspan="10">{{selectedtask['meta']['description']}}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Tags</strong> </td>
              <td colspan="10">
                <span ng-repeat="tag in selectedtask['meta']['tags']">{{tag}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-if="selectedtask['command']['interactive'] || selectedtask['container']['ports'].length > 0" class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <caption>Interactive informations</caption>
            <tr ng-if="selectedtask['container']['ports'].length > 0">
              <td colspan="2"><strong>Ports</strong> </td>
              <td colspan="10">{{selectedtask['container']['ports']}}</td>
            </tr>
            <tr ng-if="selectedtask['command']['interactive']">
              <td colspan="2"><strong>Connection</strong> </td>
              <td colspan="10" ng-if="!selectedtask['container']['root'] && ssh_port">ssh {{selectedtask.user.id}}@{{selectedtask.container.ip_address}} -p {{ssh_port}}</td>
              <td colspan="10" ng-if="selectedtask['container']['root'] && ssh_port">ssh root@{{selectedtask.container.ip_address}} -p {{ssh_port}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <caption>Volumes</caption>
            <tr>
              <th colspan="6">Source path</th>
              <th colspan="6">Container path</th>
            </tr>
            <tr ng-repeat="v in selectedtask['container']['volumes']">
              <td colspan="6">{{v.path}}</td>
              <td colspan="6">{{v.mount}}</td>
            </tr>
            <tr ng-if="selectedtask['requirements']['tmpstorage']['size']">
              <td colspan="6">/tmp-data</td>
              <td colspan="6">{{selectedtask['requirements']['tmpstorage']['size']}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <caption>Execution informations</caption>
            <tr>
              <td><strong>Exit code</strong> </td>
              <td>{{selectedtask.container.meta.State.ExitCode}}</td>
            </tr>
            <tr>
              <td><strong>Submitted</strong> </td>
              <td>{{convert_timestamp_to_date(selectedtask['date'])}}</td>
            </tr>
            <tr>
              <td><strong>Running</strong> </td>
              <td>{{convert_timestamp_to_date(selectedtask['status']['date_running'])}}</td>
            </tr>
            <tr>
              <td><strong>Over</strong></td>
              <td>{{convert_timestamp_to_date(selectedtask['status']['date_over'])}}</td>
            </tr>
            <tr>
              <td><strong>Reason</strong> </td>
              <td>{{selectedtask['status']['reason']}}</td>
            </tr>
            <tr>
              <td><strong>Number of failures</strong> </td>
              <td>{{selectedtask['status']['failure']['count']}}</td>
            </tr>
          </table>
        </div>

        <div class="col-md-6">
          <table class="table table-striped">
            <caption>Container informations</caption>
            <tr>
              <td><strong>Run as root</strong> </td>
              <td>{{selectedtask['container']['root']}}</td>
            </tr>
            <tr>
              <td><strong>Interactive</strong> </td>
              <td>{{selectedtask['command']['interactive']}}</td>
            </tr>
            <tr>
              <td><strong>CPU</strong> </td>
              <td>{{selectedtask['requirements']['cpu']}}</td>
            </tr>
            <tr>
              <td><strong>RAM (Gb)</strong></td>
              <td>{{selectedtask['requirements']['ram']}}</td>
            </tr>
            <tr>
              <td><strong>GPU</strong> </td>
              <td>{{selectedtask['requirements']['gpus']}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row" ng-if="selectedtask.parent_task_id || selectedtask.requirements.array.tasks.length > 0 || selectedtask['requirements']['tasks'].length > 0">
        <div class="col-md-12">
          <table class="table table-striped">
            <caption>Task contraints</caption>
            <tr>
              <td colspan="2"><strong>Parent task id</strong> </td>
              <td colspan="10">{{selectedtask.parent_task_id}}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Sub tasks</strong> </td>
              <td colspan="10">{{selectedtask.requirements.array.tasks}}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Tasks</strong> </td>
              <td colspan="10">{{selectedtask['requirements']['tasks']}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <p>Command:</p>
        <div class="godcode" ui-codemirror="codemirror_options"  ng-model="selectedtask['command']['cmd']" ></div>
      </div>
      <div class="row" ng-if="selectedtask['container']['port_mapping']">
        <div class="col-md-12">
          <table class="table table-striped">
            <caption>Ports mappings informations</caption>
            <tr>
              <th colspan="6">Host</th>
              <th colspan="6">Container</th>
            </tr>
            <tr ng-repeat="port in selectedtask['container']['port_mapping']">
              <td colspan="6">{{port.host}}</td>
              <td colspan="6">{{port.container}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <caption>Other informations</caption>
            <tr>
              <td colspan="2"><strong>Container ID</strong> </td>
              <td colspan="10">{{selectedtask.container.id}}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Data</strong> </td>
              <td colspan="10">{{selectedtask['requirements']['uris']}}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Constraints</strong> </td>
              <td colspan="10">{{selectedtask['requirements']['label']}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" ng-if="selectedtask['status']['primary'] == 'over'">
          <div class="panel-heading">Archive</div>
          <div class="panel-body">
            <span>Archiving job will delete all files in task directory</span><button class="btn btn-primary pull-right" ng-click="archive(selectedtask['id'])">Archive</button>
          </div>
        </div>
      </div>
    </div>



  </div>

</script>
-->
