<div class="loginform">
	<div class="row" ng-if="msg">
		<div class="alert alert-warning" role="alert">{{msg}}</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12" align="center">
			<hr>
			<h1 class="main-title">GO-Docker</h1>
			<h4 class="main-title">The web service for docker job submission</h4>
			<div class="outter"><img src="img/container.jpg" class="image-circle"/></div>
			<hr>
		</div>
	</div>
	<form ng-submit="authenticate()" ng-keyup="$event.keyCode == 13 && authenticate()">

		<div class="row">
			<div class="col-md-offset-4 col-md-4 login_control">
				<input type="text" class="form-control" ng-model="uid"  placeholder="username or email"/>
			</div>
		</div>
		<div class="row">

			<div class="col-md-offset-4  col-md-3 login_control" >
				<input type="password" placeholder="password" class="form-control" ng-model="password"/>
			</div>
			<div class="col-md-1 login_control">
				<button type="submit" class="btn btn-success ">LOGIN</button>
			</div>
		</div>
	</form>
	
</div>
<div class="col-md-12 col-xs-12 login_control" ng-if="config.guest.length>0">
	<h3 align="center">Guest access with social authentication</h3>
	<a href="/login/google" class="btn btn-block btn-social btn-google" ng-if="config.guest.indexOf('google') > -1"><span class="fa fa-google-plus"></span> Google</a>
	<a href="/login/github" class="btn btn-block btn-social btn-github" ng-if="config.guest.indexOf('github') > -1"><span class="fa fa-github"></span> GitHub</a>
</div>

</div>
</div>
