
<div class="modal-header">
  <h3 class="modal-title">Job {{selectedtask['id']}} for {{selectedtask['user']['id']}}</h3>
</div>


<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="godaction col-sm-2" ng-if="selectedtask['status']['primary'] == 'over'">
        <a ng-click="cancel()" ng-href="#/job/{{selectedtask['id']}}/files{{share_link}}"><button class="btn btn-primary task-info-button">Files <span class="glyphicon glyphicon-folder-open"></span></button></a>
    </div>
      <div class="godaction col-sm-2" ng-if="!is_shared && (selectedtask['status']['is_shared'] === undefined || selectedtask['status']['is_shared']==false) && selectedtask['status']['primary'] == 'over'">
          <button ng-click="share(selectedtask['id'])" class="btn btn-success task-info-button">Share <span class="glyphicon glyphicon-share"></span></button>
      </div>
      <div class="godaction col-sm-2" ng-if="!is_shared && selectedtask['status']['is_shared']==true && selectedtask['status']['primary'] == 'over'">
        <button ng-click="unshare(selectedtask['id'])" class="btn btn-danger task-info-button">Stop sharing <span class="glyphicon glyphicon-share"></span></button>
      </div>
      <div class="godaction col-sm-2" ng-if="selectedtask['live'] && selectedtask['status']['primary'] == 'running'">
        <a ng-click="cancel()" ng-href="#/job/{{selectedtask['id']}}/live"><button class="btn btn-primary task-info-button">Live log <span class="glyphicon glyphicon-eye-open"></span></button></a>
      </div>
      <div class="pull-right"><a ng-click="cancel()" ng-href="#/marketplace/task/{{selectedtask['id']}}/link"><button class="btn btn-primary">Link to a recipe</button></a></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <caption>Main informations</caption>
          <tr>
            <td colspan="2"><strong>Id</strong> </td>
            <td colspan="10">{{selectedtask['id']}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Status</strong> </td>
            <td colspan="10">{{selectedtask['status']['primary']}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Image</strong> </td>
            <td colspan="10">{{selectedtask['container']['image']}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Description</strong> </td>
            <td colspan="10">{{selectedtask['meta']['description']}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Tags</strong> </td>
            <td colspan="10">
              <span ng-repeat="tag in selectedtask['meta']['tags']">{{tag}}</span>
            </td>
          </tr>
          <tr ng-if="selectedtask.bubble_chamber && selectedtask.container.id">
            <td colspan="2"><strong>Dive into</strong> </td>
            <td colspan="10"><a rel="noopener" target="_blank" ng-href="{{selectedtask.bubble_chamber}}?container={{selectedtask.container.id.substring(0,12)}}"><button class="btn btn-primary">Show usage</button></a></td>
          </tr>
          <tr ng-if="selectedtask['status']['is_shared'] == true">
              <td colspan="2"><strong>Share link</strong> </td>
              <td colspan="10"><a ng-href="#/job/share/{{selectedtask['id']}}/token/{{selectedtask['status']['shared_token']}}"><button class="btn btp-primay">access link</button></a></td>
          </tr>
        </table>
      </div>
    </div>
    <div ng-if="selectedtask['command']['interactive'] || selectedtask['container']['ports'].length > 0" class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <caption>Interactive informations</caption>
          <tr ng-if="selectedtask['container']['ports'].length > 0">
            <td colspan="2"><strong>Ports</strong> </td>
            <td colspan="10">{{selectedtask['container']['ports']}}</td>
          </tr>
          <tr ng-if="selectedtask.container.ip_address">
            <td colspan="2"><strong>Running on</strong> </td>
            <td colspan="10">{{selectedtask.container.ip_address}}</td>
          </tr>
          <tr ng-if="selectedtask['command']['interactive']">
            <td colspan="2"><strong>Connection</strong> </td>
            <td colspan="10" ng-if="!selectedtask['container']['root'] && ssh_port">ssh {{selectedtask.user.id}}@{{selectedtask.container.ip_address}} -p {{ssh_port}}</td>
            <td colspan="10" ng-if="selectedtask['container']['root'] && ssh_port">ssh root@{{selectedtask.container.ip_address}} -p {{ssh_port}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <caption>Volumes</caption>
          <tr>
            <th colspan="6">Source path</th>
            <th colspan="6">Container path</th>
          </tr>
          <tr ng-repeat="v in selectedtask['container']['volumes']">
            <td colspan="6">{{v.path}}</td>
            <td colspan="6">{{v.mount}}</td>
          </tr>
          <tr ng-if="selectedtask['requirements']['tmpstorage']['size']">
            <td colspan="6">/tmp-data</td>
            <td colspan="6">{{selectedtask['requirements']['tmpstorage']['size']}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped">
          <caption>Execution informations</caption>
          <tr>
            <td><strong>Exit code</strong> </td>
            <td>{{selectedtask.container.meta.State.ExitCode}}</td>
          </tr>
          <tr>
            <td><strong>Submitted</strong> </td>
            <td>{{convert_timestamp_to_date(selectedtask['date'])}}</td>
          </tr>
          <tr>
            <td><strong>Running</strong> </td>
            <td>{{convert_timestamp_to_date(selectedtask['status']['date_running'])}}</td>
          </tr>
          <tr>
            <td><strong>Over</strong></td>
            <td>{{convert_timestamp_to_date(selectedtask['status']['date_over'])}}</td>
          </tr>
          <tr>
            <td><strong>Reason</strong> </td>
            <td style="word-wrap:break-word; white-space:normal;">{{selectedtask['status']['reason']}}</td>
          </tr>
          <tr>
            <td><strong>Number of failures</strong> </td>
            <td>{{selectedtask['status']['failure']['count']}}</td>
          </tr>
        </table>
      </div>

      <div class="col-md-6">
        <table class="table table-striped">
          <caption>Container informations</caption>
          <tr>
            <td><strong>Run as root</strong> </td>
            <td>{{selectedtask['container']['root']}}</td>
          </tr>
          <tr>
            <td><strong>Interactive</strong> </td>
            <td>{{selectedtask['command']['interactive']}}</td>
          </tr>
          <tr>
            <td><strong>CPU</strong> </td>
            <td>{{selectedtask['requirements']['cpu']}}</td>
          </tr>
          <tr>
            <td><strong>RAM (Gb)</strong></td>
            <td>{{selectedtask['requirements']['ram']}}</td>
          </tr>
          <tr>
            <td><strong>GPU</strong> </td>
            <td>{{selectedtask['requirements']['gpus']}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row" ng-if="selectedtask.parent_task_id || selectedtask.requirements.array.tasks.length > 0 || selectedtask['requirements']['tasks'].length > 0">
      <div class="col-md-12">
        <table class="table table-striped">
          <caption>Task contraints</caption>
          <tr>
            <td colspan="2"><strong>Parent task id</strong> </td>
            <td colspan="10">{{selectedtask.parent_task_id}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Sub tasks</strong> </td>
            <td colspan="10">{{selectedtask.requirements.array.tasks}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Tasks</strong> </td>
            <td colspan="10">{{selectedtask['requirements']['tasks']}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <p>Command:</p>
      <div class="godcode" ui-codemirror="codemirror_options"  ng-model="selectedtask['command']['cmd']" ></div>
    </div>
    <div class="row" ng-if="selectedtask['container']['port_mapping']">
      <div class="col-md-12">
        <table class="table table-striped">
          <caption>Ports mappings informations</caption>
          <tr>
            <th colspan="6">Host</th>
            <th colspan="6">Container</th>
          </tr>
          <tr ng-repeat="port in selectedtask['container']['port_mapping']">
            <td colspan="6">{{port.host}}</td>
            <td colspan="6">{{port.container}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <caption>Other informations</caption>
          <tr>
            <td colspan="2"><strong>Container ID</strong> </td>
            <td colspan="10">{{selectedtask.container.id}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Data</strong> </td>
            <td colspan="10">{{selectedtask['requirements']['uris']}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Constraints</strong> </td>
            <td colspan="10">{{selectedtask['requirements']['label']}}</td>
          </tr>
          <tr ng-if="selectedtask['requirements']['executor']">
            <td colspan="2"><strong>Executor</strong> </td>
            <td colspan="10">{{selectedtask['requirements']['executor']}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row" ng-if="selectedtask['status']['failure']['reasons']">
        <div class="col-md-12">
          <table class="table table-striped">
              <caption>Failures</caption>
              <tr ng-repeat="failure in selectedtask['status']['failure']['reasons']">
                  <td>{{convert_timestamp_to_date(failure.ts)}}</td><td>{{failure.node}}</td><td>{{failure.msg}}</td>
              </tr>
          </table>
        </div>
    </div>
    <div class="row">
      <div class="panel panel-default" ng-if="selectedtask['status']['primary'] == 'over'">
        <div class="panel-heading">Archive</div>
        <div class="panel-body">
          <span>Archiving job will delete all files in task directory</span><button class="btn btn-primary pull-right" ng-click="archive(selectedtask['id'])">Archive</button>
        </div>
      </div>
    </div>
  </div>



</div>
