<ol class="breadcrumb">
  <li><a href="/app/#/" title="home">Go-Docker</a></li>
  <li>Admin</li>
  <li class="active">Projects</li>
</ol>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Projects</h3>
    </div>
    <div class="panel-body">
      <div ng-if="msg" class="alert alert-warning">{{msg}}</div>
      <table id="project_list" datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Description</th>
            <th>Members</th>
            <th>Volumes</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in projects track by project.id">
            <td class="pointer" ng-click="show_project(project)">{{::project.id}}</td>
            <td>{{::project.owner}}</td>
            <td>{{::project.description}}</td>
            <td>{{::project.members.length}}</td>
            <td><div ng-repeat="volume in ::project.volumes">{{volume.name}}:{{volume.path}}</div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" ng-if="project.id">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Project {{project.id}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <button style="margin-left:10px;" type="button" class="pull-right btn btn-primary" ng-click="delete_project(project)">
          <span ng-click="delete_member_project(member)" class="pointer glyphicon glyphicon-trash">
          </button>
          <button style="margin-left:10px;" type="button" class="pull-right btn btn-warning" ng-click="update_project(project)" data-toggle="modal" data-target="#updateOK">Update</button>
        </div>
        <div class="row">
          <h3 class="section-title">Main informations</h3>
          <table class="table table-striped">
            <tr>
              <td><label for="owner" class="control-label">Name</label></td>
              <td>{{project.id}}</td>
            </tr>
            <tr>
              <td><label for="owner" class="control-label">Owner</label></td>
              <td><input ng-disabled="! user.admin" class="form-control" ng-model="project.owner" id="owner" placeholder="owner id"/></td>
            </tr>
            <tr>
              <td><label for="description" class="control-label">Description</label></td>
              <td><textarea class="form-control" ng-model="project.description" id="description" placeholder="project description"></textarea></td>
            </tr>
            <tr>
              <td><label for="prio" class="control-label">Priority</label></td>
              <td><input ng-disabled="! user.admin" min="0" max="100" type="number" class="form-control" ng-model="project.prio" id="prio" placeholder="project priority (0 <-> 100)"/></td>
            </tr>
            <tr>
              <td><label for="time_quota" class="control-label">Time quota</label></td>
              <td><input ng-disabled="! user.admin" class="form-control" ng-model="$parent.time_quota" id="time_quota" placeholder="120 [default s], 60s, 5m, 60h, 10d"/></td>
            </tr>
            <tr>
              <td><label for="cpu_quota" class="control-label">CPU time quota</label></td>
              <td><input ng-disabled="! user.admin" class="form-control" ng-model="$parent.cpu_quota" id="cpu_quota"/></td>
            </tr>
            <tr>
              <td><label for="ram_quota" class="control-label">RAM time quota (Gb)</label></td>
              <td><input ng-disabled="! user.admin" class="form-control" ng-model="$parent.ram_quota" id="ram_quota"/></td>
            </tr>
            <tr>
              <td><label for="gpu_quota" class="control-label">GPU time quota</label></td>
              <td><input ng-disabled="! user.admin" class="form-control" ng-model="$parent.gpu_quota" id="gpu_quota"/></td>
            </tr>
            <tr>
              <td><label for="limitation_cpu" class="control-label">CPU limitation</label></td>
              <td><input ng-disabled="! user.admin" type="number" class="form-control" ng-model="project.limitation_cpu" id="limitation_cpu"/></td>
            </tr>
            <tr>
              <td><label for="limitation_ram" class="control-label">RAM limitation (Gb)</label></td>
              <td><input ng-disabled="! user.admin" type="number" class="form-control" ng-model="project.limitation_ram" id="limitation_ram"/></td>
            </tr>
            <tr>
              <td><label for="limitation_gpu" class="control-label">GPU limitation</label></td>
              <td><input ng-disabled="! user.admin" type="number" class="form-control" ng-model="project.limitation_gpu" id="limitation_gpu"/></td>
            </tr>
          </table>

        </div>
        <div class="row">
          <h3 class="section-title">Volumes</h3>
          <table class="table table-striped">
            <tr>
              <th>Name</th>
              <th>Path</th>
              <th>ACL</th>
              <th>Mount</th>
              <th></th>
            </tr>
            <tr ng-repeat="volume in project.volumes">
              <td>{{volume.name}}   </td>
              <td>{{volume.path}}</td>
              <td>{{volume.acl}}</td>
              <td>{{volume.mount}}</td>
              <td><span ng-click="delete_volume_project($index)" class="pointer glyphicon glyphicon-trash"></td>
              </tr>
            </table>
            <table class="table table-striped">
              <tr>
                <td><label for="newvolumename" class="control-label">New volume name</label></td>
                <td><input ng-disabled="!user.admin && !owner_mount_any_dir" class="form-control" ng-model="$parent.newvolumename" id="newvolumename" placeholder="Volume name"/></td>
              </tr>
              <tr>
                <td><label for="newvolumepath" class="control-label">Volume host path</label></td>
                <td><input ng-disabled="!user.admin && !owner_mount_any_dir" class="form-control" ng-model="$parent.newvolumepath" id="newvolumepath" placeholder="/path/to/dir"/></td>
              </tr>
              <tr>
                <td><label for="newvolumemount" class="control-label">Volume path in container</label></td>
                <td><input ng-disabled="!user.admin && !owner_mount_any_dir" class="form-control" ng-model="$parent.newvolumemount" id="newvolumemount" placeholder="/mnt/to/dir"/></td>
              </tr>
              <tr>
                <td><label for="newvolumeacl" class="control-label">New volume ACL (ro/rw)</label></td>
                <td>
                  <select ng-disabled="!user.admin && !owner_mount_any_dir" class="form-control" ng-model="$parent.newvolumeacl" id="newvolumeacl">
                    <option value="ro">Read only</option>
                    <option value="rw">Read write</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><button ng-if="user.admin || owner_mount_any_dir" type="button" class="btn btn-primary" ng-click="add_volume_project()">Add volume</button></td>
              </tr>
            </table>
            <h3 class="section-title">members</h3>
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
              <tr ng-repeat="member in project.members">
                <td>{{member}}</td>
                <td><span ng-click="delete_member_project(member)" class="pointer glyphicon glyphicon-trash"></td>
                </tr>
              </table>
              <table class="table">
                <tr>
                  <td><label for="newmember" class="control-label">Add member</label></td>
                  <td><input class="form-control" ng-model="$parent.newmember" id="newmember" placeholder="User id or group integer id"/></td>
                </tr>
              </table>
              <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="add_member_project()">Add member</button>
              </div>


            </div>
            <div class="footer_actions">
              <button type="button" class="pull-right btn btn-warning" ng-click="update_project(project)" data-toggle="modal" data-target="#updateOK">Update</button>
            </div>
          </div>

        </div>

        <div id="updateOK" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Project updated</h4>
              </div>
              <div class="modal-body">
                <p>Project has been updated</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="row" ng-if="user.admin">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Create a new project</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
                <td><label for="name" class="col-sm-2 control-label">Name</label></td>
                <td>
                  <div class="col-sm-10">
                    <input class="form-control" ng-model="$parent.name" id="name" placeholder="project name, only alphanumeric or dash and dots"/>
                  </div>
                </td>
              </tr>
              <tr>
                <td>  <label for="name" class="col-sm-2 control-label">Owner</label></td>
                <td><div class="col-sm-10">
                  <input class="form-control" ng-model="$parent.owner" id="owner" placeholder="project owner id"/>
                </div>
              </td>
            </tr>
            <tr>
              <td>  <label for="description" class="col-sm-2 control-label">Description</label></td>
              <td><div class="col-sm-10">
                <textarea class="form-control" ng-model="$parent.description" id="description" placeholder="project description"></textarea>
              </div>
            </td>
          </tr>
        </table>

        <div>
          <button type="button" class="pull-right btn btn-primary" ng-click="create_project()" data-toggle="modal" data-target="#createOK">Create</button>
        </div>
      </div>

    </div>

    <div id="createOK" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Project created</h4>
          </div>
          <div class="modal-body">
            <p>New project has been created</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
