<ol class="breadcrumb">
  <li><a href="/app/#/" title="home">Go-Docker</a></li>
  <li>profile</li>
  <li class="active">{{user.id}}</li>
</ol>

<hr class="section-title">
<h3 class="section-title">User configuration</h3>
<hr class="section-title">

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">External access</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
        <div ng-if="msg" class="label label-warning">{{msg}}</div>
          <table class="table table-striped">
            <tr>
              <form class="form-horizontal">
                <div class="alert alert-warning" role="alert">Regenerating Api Key will invalidate opened sessions</div>

                <td colspan="2">
                  <label for="apikey" class="control-label">API Key</label>
                </td>
                <td colspan="9">
                  <input id="apikey" class="form-control" ng-model="credentials.apikey" disabled>
                  <span><small>Use API key to use the Go-D API</small></span>
                </td>
                <td colspan="1">
                  <button type="button" class="btn btn-warning" ng-click="apikey_renew()">Regenerate</button>
                </td>
              </form>
            </tr>
            <tr>
              <form class="form-horizontal">
                <td colspan="2">
                  <label for="public" class="control-label">Public Key</label>
                </td>
                <td colspan="10">
                  <textarea id="public" rows="5" cols="80" ng-model="credentials.public"></textarea>
                  <p><small>This public key is used to connect via SSH for interactive sessions</small></p>
                </td>
              </form>
            </tr>
          </table>
        </div>
        <button class="pull-right btn btn-primary" ng-click="update_info()">Update information</button>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Quotas & priorities</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <tr>
              <form class="form-horizontal">
                <td class="col-md-2">
                  <div class="row">
                    <label for="prio" class="control-label">Priority</label>
                  </div>
                </td>
                <td class="col-md-2">
                  <input ng-disabled="! user.admin" min="0" max="100" type="number" class="form-control" ng-model="prio" id="prio" placeholder="user priority (0 <-> 100)"/>
                </td>
              </form>
            </tr>
            <form class="form-horizontal">
              <tr>
                <td class="col-md-2">
                  <div class="row">
                    <label for="quota_time" class="control-label">Time quota</label>
                  </div>
                </td>
                <td class="col-md-2">
                  <input ng-disabled="! user.admin" class="form-control" ng-model="quota_time" id="quota_time" placeholder="120 [default s], 60s, 5m, 60h, 10d"/>
                </td>
                <td class="col-md-6">
                  <div class="row">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{used_time}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{used_time}}%;">
                        {{used_time}}%
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="col-md-2">
                  <div class="row">
                    <label for="quota_cpu" class="control-label">CPU quota</label>
                  </div>
                </td>
                <td class="col-md-2">
                  <input ng-disabled="! user.admin" class="form-control" ng-model="quota_cpu" id="quota_cpu"/>
                </td>
                <td class="col-md-6">
                  <div class="row">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{used_cpu}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{used_cpu}}%;">
                        {{used_cpu}}%
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="col-md-2">
                  <div class="row">
                    <label for="quota_ram" class="control-label">RAM quota (Gb)</label>
                  </div>
                </td>
                <td class="col-md-2">
                  <input ng-disabled="! user.admin" class="form-control" ng-model="quota_ram" id="quota_ram"/>
                </td>
                <td class="col-md-6">
                  <div class="row">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{used_ram}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{used_ram}}%;">
                        {{used_ram}}%
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="col-md-2">
                  <div class="row">
                    <label for="quota_gpu" class="control-label">GPU quota</label>
                  </div>
                </td>
                <td class="col-md-2">
                  <input ng-disabled="! user.admin" class="form-control" ng-model="quota_gpu" id="quota_gpu"/>
                </td>
                <td class="col-md-6">
                  <div class="row">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{used_gpu}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{used_gpu}}%;">
                        {{used_gpu}}%
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </form>
          </table>
        </div>
        <button class="pull-right btn btn-primary" ng-click="update_info();">Update information</button>

      </div>
    </div>
  </div>


</div>



<hr class="section-title">
<h3 class="section-title">Projects</h3>
<hr class="section-title">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Projects usage</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>GPU</th>
            <th>Time</th>
          </tr>
          <tr ng-repeat="project in projects_usage track by project.id">
            <td class="col-md-2">
              {{::project.id}}
            </td>
            <td class="col-md-2">
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{::project.used_cpu}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{::project.used_cpu}}%;">
                  {{::project.used_cpu}}%
                </div>
              </div>
            </td>
            <td class="col-md-2">
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{::project.used_ram}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{::project.used_ram}}%;">
                  {{::project.used_ram}}%
                </div>
              </div>
            </td>
            <td class="col-md-2">
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{::project.used_gpu}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{::project.used_gpu}}%;">
                  {{::project.used_gpu}}%
                </div>
              </div>
            </td>
            <td class="col-md-2">
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{::project.used_time}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{::project.used_time}}%;">
                  {{::project.used_time}}%
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<hr class="section-title">
<h3 class="section-title">Personal storage</h3>
<hr class="section-title">

<div class="row" ng-if="config.ftp">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">FTP server and files</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <tr>
              <form class="form-horizontal">
                <td colspan="2">
                  <label for="ftp" class="control-label">FTP server</label>
                </td>
                <td colspan="9">
                  <a ng-href="ftp://{{requested_user}}:{{credentials.apikey}}@{{config.ftp.endpoint}}" target="_blank"><span id="ftp">ftp://{{requested_user}}:{{credentials.apikey}}@{{config.ftp.endpoint}}</span></a>
                  <p><small>Personal ftp storage</small></p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="quota_ftp" class="control-label">FTP quota</label>
                </td>
                <td colspan="9">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ftp_used_quota/ftp_quota}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{ftp_used_quota/ftp_quota}}%;">
                      {{ftp_used_quota/ftp_quota}}%
                    </div>
                  </div>
                </td>
                <td colspan="1">
                  {{formatSizeUnits(ftp_quota)}}
                </td>
              </form>
            </tr>
          </table>
        </div>
        <a ng-click="cancel()" ng-href="#/user/{{requested_user}}/files"><button class="pull-right btn btn-primary task-info-button">Files <span class="glyphicon glyphicon-folder-open"></span></button></a>
      </div>
    </div>
  </div>
</div>


<hr class="section-title">
<h3 class="section-title">Applications</h3>
<hr class="section-title">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Remote applications</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="app_name" class="col-sm-2 control-label">Application name</label>
          <div class="col-sm-6">
            <input id="app_name" class="form-control" ng-model="app_name"/>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-warning" ng-click="app_create()">Create application</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <tr>
            <th class="col-md-2">Application name</th>
            <th class="col-md-4">Token</th>
            <th class="col-md-2">Remove</th>
          </tr>
          <tr ng-repeat="app in apps" >
            <td class="col-md-2">
              {{app.name}}
            </td>
            <td class="col-md-4">
              {{app.token}}
            </td>
            <td class="col-md-2">
              <span ng-click="app_delete(app)" class="pointer glyphicon glyphicon-trash"> </span>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
