
<div class="row">
  <div ng-if="maintenance">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="huge text-center">Server in maintenance</div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<h1 class="main-title">Go-Docker</h1>
<h4 class="main-title">The web service for docker job submission</h4>
<hr>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-blue">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 text-right">
            <div class="huge" ng-bind="pending"></div>
            <div>Containers pending</div>
          </div>
        </div>
      </div>
      <!--
      <a href="#">
      <div class="panel-footer">
      <span class="pull-left">View Details</span>
      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
      <div class="clearfix"></div>
    </div>
  </a>
-->
</div>
</div>
<div class="col-md-3">

  <div class="panel panel-red">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12 text-right">
          <div class="huge" ng-bind="running"></div>
          <div>Containers running</div>
        </div>
      </div>
    </div>
    <!--
    <a href="#">
    <div class="panel-footer">
    <span class="pull-left">View Details</span>
    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
    <div class="clearfix"></div>
  </div>
</a>
-->
</div>
</div>
<div class="col-md-3">

  <div class="panel panel-purple">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12 text-right">
          <div class="huge" ng-bind="total"></div>
          <div>Containers to date</div>
        </div>
      </div>
    </div>
</div>
</div>
<div ng-if="my" class="col-md-3">

  <div class="panel panel-purple">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12 text-right">
          <div class="huge" ng-bind="my"></div>
          <div>My containers</div>
        </div>
      </div>
    </div>
</div>
</div>



</div>
<hr>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>What's Go-Docker?</h5>
      </div>
      <div class="panel-body">
        <p>Go-Docker is a cluster management tool with Docker.</p>
        <p>It manages user job (batch/interactive) submissions with Docker (like SUN Grid Engine, Torque, ... on nodes).
          User does not need to have Docker rights, everything will go through the application.</p>
        <p>Linked to the system users (or ldap), user will have their home mounted automatically as well as other configured directories according to required priviledges in container.
          They will be able to run jobs with their uid/gid or as root in the container.</p>
          <p>User can specify his job command line or script and its requirements (docker image, cpu, ram) via a CLI tool and go-d-web Web UI.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>Running in a container</h5>
        </div>
        <div class="panel-body">
          <p>Docker provides job isolation, all your processes will be isolated from other users (cpu/ram/disk).</p>
          <p>According to your profile, you can get your home directory mounted in your container as well as other shared directories.</p>
          <p>A specific job directory will be mounted in your container and you can read/write in this directory. All files will be created with you original user uid/gid.</p>
          <p>Containers can be accessed as standard user or as root! Beware of root usage, this will limit the directories you can mount in your container.</p>
        </div>
      </div>
    </div>
  </div>

  <hr style="margin-bottom:400px;">
  <footer>

  <div class="row">
    <div class="col-md-12">


          <div class="col-md-4">
            <table class="table">
              <caption>Documentation</caption>
                <tr>
                  <td>Web API</td>
                  <td><a class="credits" rel="noopener" target="_blank" href="http://go-docker-web.readthedocs.org/en/latest/">ReadTheDocs</a></td>
                </tr>
                <tr>
                  <td>Presentation</td>
                  <td><a class="credits" rel="noopener" target="_blank" href="http://fr.slideshare.net/OlivierSallou/godocker-presentation">SlideShare</a></td>
                </tr>
                <tr>
                  <td>Wiki</td>
                  <td><a class="credits" rel="noopener" target="_blank" href="https://godocker.atlassian.net/wiki/display/GOD/GODOCKER">User & admin documentation</a></td>
                </tr>
            </table>
          </div>


        <div class="col-md-4">
          <table class="table">
            <caption>Source code</caption>
            <tr>
              <td>Go-Docker core</td>
              <td><a class="credits" rel="noopener" target="_blank" href="https://bitbucket.org/osallou/go-docker">Bitbucket</a></td>
            </tr>
            <tr>
              <td>Go-Docker web</td>
              <td><a class="credits" rel="noopener" target="_blank" href="https://bitbucket.org/osallou/go-docker-web">Bitbucket</a></td>
            </tr>
            <tr>
              <td>Go-Docker Live</td>
              <td><a class="credits" rel="noopener" target="_blank" href="https://bitbucket.org/osallou/go-docker-live">Bitbucket</a></td>
            </tr>
          </table>
        </div>


        <div class="col-md-4">
          <table class="table">
            <caption>Credits</caption>

            <tr>
              <td>Companies</td>
              <td><a class="credits" href="http://www.irisa.fr/">IRISA</a></td>
              <td><a class="credits" href="http://www.genouest.org">GenOuest Platform</a></td>
            </tr>
            <tr>
              <td>Authors</td>
              <td>Olivier Sallou</td>
              <td>Cyril Monjeaud</td>
            </tr>

          </table>
        </div>


      </div>

    </div>

  </footer>



  <!--div ng-include="'intro.html'"></div-->
