<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="godweb"  class="no-js">
<!--<![endif]-->

<head>
    <base href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go-Docker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
    <link rel="stylesheet" href="bower_components/datatables.net-dt/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="bower_components/angular-datatables/dist/css/angular-datatables.css" />
    <link rel="stylesheet" href="bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.css" />
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="bower_components/dcjs/dc.css" />
    <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/app.css -->
    <link rel="stylesheet" href="styles/theme.css">
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/intro.css">
    <!-- endbuild -->
</head>

<body  ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed" data-toggle="collapse" data-target="#godNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            </div>
            <div class="navbar-collapse collapse" uib-collapse="isNavCollapsed" id="godNavbar" ng-controller="userCtrl">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/" active-link="active">
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                    <li ng-if="is_logged">
                        <a href="#/job" active-link="active">
                            <i class="glyphicon glyphicon-plus"></i>
                            Create job
                        </a>
                    </li>
                    <li ng-if="is_logged">
                        <a href="#/jobs" active-link="active">
                            <i class="glyphicon glyphicon-th-list"></i>
                            Jobs
                        </a>
                    </li>

                    <li class="dropdown" ng-if="user.admin || user.project_owner" uib-dropdown>
                        <a uib-dropdown-toggle href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                          <ul uib-dropdown-menu class="dropdown-menu">

                            <li ng-if="user.admin">
                                <a href="#/admin" active-link="active">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li ng-if="user.admin">
                                <a target="_blank" href="dashboard.html" active-link="active" rel="noopener">
                                    <i class="glyphicon glyphicon-scale"></i>
                                    Usage
                                </a>
                            </li>

                            <li>
                                <a href="#/projects" active-link="active">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                    Projects
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="dropdown" uib-dropdown>
                        <a uib-dropdown-toggle href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                          <ul uib-dropdown-menu class="dropdown-menu">
                              <li>
                                  <a href="#/marketplace/recipe" active-link="active">
                                      <i class="glyphicon glyphicon-picture"></i>
                                      Marketplace
                                  </a>
                              </li>
                              <li>
                                  <a href="#/images" active-link="active">
                                      <i class="glyphicon glyphicon-picture"></i>
                                      Images
                                  </a>
                              </li>
                              <li>
                                  <a href="#/usage" active-link="active">
                                      <i class="glyphicon glyphicon-picture"></i>
                                      Compute nodes
                                  </a>
                              </li>
                              <li>
                                  <a href="/app/swagger/dist/index.html?url=/app/swagger/godocker.json">
                                      <i class="glyphicon glyphicon-picture"></i>
                                      API
                                  </a>
                              </li>
                              <li>
                                  <a href="https://godocker.atlassian.net/wiki/display/GOD/GODOCKER" target="_blank" rel="noopener" >
                                      <i class="glyphicon glyphicon-info-sign"></i>
                                      Help
                                  </a>
                              </li>
                          </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="! is_logged">
                        <a href="#/login">
                            <i class="glyphicon glyphicon-user"></i>
                            Login
                        </a>
                    </li>
                    <li ng-if="is_logged">
                        <a href="#/user/{{user.id}}">
                            <i class="glyphicon glyphicon-user"></i>
                            {{user.id}}
                        </a>
                    </li>
                    <li ng-if="is_logged">
                        <a href="" ng-click="logout()">
                            <i class="glyphicon glyphicon-off"></i>
                            Logout
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </header>
    <div class="container">
      <div id="main-view" ng-view></div>
       <div id="notifications" growl></div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

   <!-- build:js scripts/vendor.js -->
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
    <script src="bower_components/angular-bootstrap-slider/slider.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
    <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-scroll/dist/ui-scroll.js"></script>
    <script src="bower_components/angular-ui-scrollpoint/dist/scrollpoint.js"></script>
    <script src="bower_components/angular-ui-event/dist/event.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="bower_components/angular-ui-validate/dist/validate.js"></script>
    <script src="bower_components/angular-ui-indeterminate/dist/indeterminate.js"></script>
    <script src="bower_components/angular-ui-uploader/dist/uploader.js"></script>
    <script src="bower_components/angular-ui-utils/index.js"></script>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/crossfilter2/crossfilter.min.js"></script>
    <script src="bower_components/dcjs/dc.js"></script>
    <script src="bower_components/angular-growl/build/angular-growl.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/resources.js"></script>
    <script src="scripts/god.js"></script>
    <!-- endbuild -->
</body>

</html>
